// Wellness Care
include ../../mixins/service-title.pug
.service-detail
    .container
        .row
            .col-lg-6
                .service-detail__img
                    img(src="images/07.jpg" alt="")
            .col-lg-6
                +service-title("images/unicorn.png", "Wellness ", "Care", "")
                p.service-detail__text.mb-20.f-o Biltong shank pork loin salami tenderloin tongue swine ribeye pancetta. Hamburger jerky pig pork loin frankfurter. Jowl hamburger bresaola pork belly andouille boudin. Shankle cupim prosciutto spare ribs rump picanha pork kielbasa porchetta doner strip steak biltong pastrami. Cupim cow rump meatball beef.
                .mb-10   
                    ul.service-detail__list.f-o
                        li.service-detail__list-item Praesent sapien massa, convallis a pellentesque nec.
                        li.service-detail__list-item Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                        li.service-detail__list-item Donec rutrum congue leo eget malesuada.
                        li.service-detail__list-item Pellentesque in ipsum id orci porta dapibus.
            .col-12
                p.service-detail__text.mb-0.f-o Qui meatball sirloin ground round, dolore excepteur dolore magna andouille biltong ut ex tenderloin. Bacon magna rump ground round aliquip reprehenderit salami nisi consectetur pork loin ball tip pastrami. Shoulder cupidatat hamburger ribeye ground round. Ad ground round occaecat veniam sausage exercitation brisket in anim kielbasa aute. Ut proident elit bresaola, sausage ball tip andouille flank officia. Sirloin beef boudin chicken cupim aute. Commodo corned beef sausage, do alcatra pork belly tongue ullamco occaecat meatloaf filet mignon leberkas beef ribs t-bone est.
