// Single
.single
    .container
        .row
            .col-lg-8.col-md-7.col-12
                .single-left
                    .single__picture
                        img(src="images/07.jpg" alt="")
                    .single__info
                        article
                            header.single__info-top
                                .top-time.d-flex.f-r.justify-content-between
                                    span.time JULY 28, 2016
                                    span.title WELLNESS CARE
                                h4.top-title.f-r Cupim biltong ribeye tail tongue, corned beef short
                                .top-social.d-flex.align-items-center
                                    a.button__share(href="#")
                                        i(class="fal fa-share")
                                    a.button__heart(href="#")
                                        i(class="fal fa-heart")
                                    span.like.f-o 35 likes
                                    span.view.f-o 23573 VIEWS
                            .single__info-content
                                p.content Pork bresaola leberkas, filet mignon alcatra shankle chicken porchetta t-bone swine frankfurter ball tip rump tongue beef ribs. Tail ground round cow pig corned beef swine pastrami jerky brisket tri-tip filet mignon.
                                p.content Rump ball tip bresaola shank pancetta filet mignon fatback strip steak tongue. Pork capicola turkey fatback, ball tip boudin corned beef alcatra turducken picanha sausage hamburger ground round.
                                blockquote.text-center
                                    p.quote.f-o Pastrami tongue ball tip fatback kielbasa meatloaf. Turducken t-bone pork chop hamburger, bacon alcatra tongue tail tenderloin boudin beef ribs.
                                    .quote-info
                                        h5.f-r Steve 
                                            strong Malone
                                        p.manager.f-r MANAGER
                                p.content Boudin jerky spare ribs short ribs corned beef, capicola doner shoulder sausage landjaeger swine salami. Flank beef tenderloin, turducken beef ribs jowl biltong drumstick prosciutto sausage turkey kevin shankle swine tri-tip. Beef ribs frankfurter ground round ham hock tail hamburger, sausage doner meatball.
                                ul.list
                                    li.list-item.f-o Eaque blanditiis nemo
                                    li.list-item.f-o Amet, consectetur adipisicing
                                    li.list-item.f-o Blanditiis nemo quaerat
                                    li.list-item.f-o Corned beef kevin drumstick pig jowl
                                .content__img.row
                                    .col-lg-6
                                        img(src="images/side-image.jpg" alt="")
                                    .col-lg-6
                                        p.content Flank frankfurter boudin alcatra, jerky drumstick leberkas tri-tip short loin spare ribs ham hock sausage. Spare ribs tail corned beef beef ribs, strip steak turducken swine cupim fatback short ribs capicola.
                                        p.content Andouille short loin tenderloin pork chop. Ham cupim andouille meatloaf tenderloin shank. Hamburger pancetta picanha kevin jowl bresaola.
                                        p.content Swine short ribs tri-tip fatback shankle spare ribs frankfurter sirloin rump chuck jowl picanha kielbasa beef ribs flank. Hamburger pancetta picanha kevin jowl bresaola.
                                p.content Swine ribeye porchetta, shank capicola beef t-bone biltong leberkas meatloaf bresaola chuck andouille frankfurter meatball. Meatball tenderloin cupim pork loin, swine brisket ham. Ham hock flank corned beef ground round short ribs hamburger ball tip. Boudin turducken tri-tip bresaola filet mignon prosciutto.
                                .author
                                    .row
                                        .col-lg-4
                                            img(src="images/01 (1).jpg" alt="")
                                        .col-lg-8
                                            .author-item
                                                h4.author-item__title.f-r Harriet 
                                                    strong Murray
                                                p.content Pork chop spare ribs drumstick strip steak turkey pig ball tip chuck. Fatback frankfurter doner pig.
                                                span.author-item__social
                                                    a(href="").fab.fa-facebook-f
                                                    a(href="").fab.fa-twitter
                                                    a(href="").fab.fa-instagram
                        .single__info-respon
                            form.comment-form(action="")
                                .row
                                    .col-lg-4
                                        p.comment-form-author
                                            input.form-control(type="text" name="author" placeholder="Full Name")
                                    .col-lg-4
                                        p.comment-form-email
                                            input.form-control(type="mail" name="email" placeholder="Email Address")
                                    .col-lg-4
                                        p.comment-form-phone
                                            input.form-control(type="text" name="phone" placeholder="Phone Number")
                                    .col-12
                                        p.comment-form-message
                                            textarea.form-control( rows="8" cols="45" name="message" placeholder="Message...")
                                    .col-12.text-center
                                        button.comment-form-button.f-r(type="submit" ) send Message
                        .single__info-area
                            ul.comment-area-list
                                li.area-item
                                    article.area-item-body.d-flex
                                        .media-left
                                            img(src="images/05 (1).jpg" alt="")
                                        .media-right
                                            span.reply
                                                a.reply-share(href="")
                                                    i(class="fal fa-share")
                                            .meta.d-flex
                                                a.meta__link.f-r(href="") Alan Smith
                                                span.meta__time.f-r JULY 09, 2016
                                            p.content First Level Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum.
                                    ul.comment-area-list.comment
                                        li.area-item
                                            article.area-item-body.d-flex
                                                .media-left
                                                    img(src="images/05 (1).jpg" alt="")
                                                .media-right
                                                    span.reply
                                                        a.reply-share(href="")
                                                            i(class="fal fa-share")
                                                    .meta.d-flex
                                                        a.meta__link(href="") Alan Smith
                                                        span.meta__time JULY 09, 2016
                                                    p.content Second Level Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                            ul.comment-area-list
                                li.area-item
                                    article.area-item-body.d-flex
                                        .media-left
                                            img(src="images/05 (1).jpg" alt="")
                                        .media-right
                                            span.reply
                                                a.reply-share(href="")
                                                    i(class="fal fa-share")
                                            .meta.d-flex
                                                a.meta__link(href="") Alan Smith
                                                span.meta__time JULY 09, 2016
                                            p.content Second Level Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                .row.single__info-button
                    .col-lg-6.mp-5
                        a.button-link(href="")
                            img(src="images/blog-prev.jpg" alt="")
                            .button-link__content.text-center
                                .content-prev.f-r Prev
                                h4.content-text.f-r Tongue cupim pastrami pork beef shoulder chuck
                    .col-lg-6.mp-5
                        a.button-link(href="")
                            img(src="images/blog-next.jpg" alt="")
                            .button-link__content.text-center
                                .content-prev.f-r Next
                                h4.content-text.f-r Tongue cupim pastrami pork beef shoulder chuck
            .col-lg-4.col-md-5.col-12.mt-60
                .single-nav
                    h3.single-nav__title Get In 
                        strong Touch
                    .single-nav__social.text-center
                        a(href="").fab.fa-twitter
                            span 34.5K
                            span.down Friends
                        a(href="").fab.fa-facebook-f
                            span 3.2K
                            span.down follows
                        a(href="").fab.fa-google-plus-g
                            span 15.7K
                            span.down Friends
                .single-nav.mt-55
                    h3.single-nav__title 
                        strong Newsletter
                    form.single-form(action="")
                        .form-group
                            input.form-control(type="email" name="email" placeholder="Email Address")
                        button(type="submit")
                            span 
                            i.fas.fa-pencil-alt
                        .response 
                    p.content Subscribe to our Newsletter right now to be updated. We promice not to spam!
                .single-nav.mt-55
                    h3.single-nav__title Flickr 
                        strong Widget
                    ul.single-nav__list
                        a.contact-gallery(href="images/27054858972_f4811c1670_b.jpg" data-fancybox="'gallery")
                            li 
                                img(src="images/27054858972_f4811c1670_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/27081355201_8ff1033a07_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/27081355201_8ff1033a07_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/27081358471_53ff2aec4d_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/27081358471_53ff2aec4d_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/26875854870_f9fc88bb8c_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/26875854870_f9fc88bb8c_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/25684557516_2c6c60748d_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/25684557516_2c6c60748d_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/27081358761_cbdd465e70_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/27081358761_cbdd465e70_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/25409865610_159f67abec_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/25409865610_159f67abec_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/25615561261_6bed733373_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/25615561261_6bed733373_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
                .single-nav.mt-55
                    h3.single-nav__title
                        strong Tags
                    .single-nav__tags
                        a.tag-link(href="#") Wellness care
                        a.tag-link(href="#") Anesthetic
                        a.tag-link(href="#") Consultation
                        a.tag-link(href="#") Vaccination
                        a.tag-link(href="#") Nutritional
                        a.tag-link(href="#") Dental care
                .single-nav.mt-55
                    h3.single-nav__title
                        strong Categories
                    form.single-categories(action="")
                        .form-group
                            select.choice(name="category")
                                option(value="") Select Category
                                option(value="") Repair
                                option(value="") Parts
                                option(value="") Services
                                option(value="") Appliance
                                option(value="") Miscellaneous
                .single-nav.mt-55
                    h3.single-nav__title Recent
                        strong Posts
                    ul.single-nav__recent
                        li.recent-item.d-flex
                            a.recent-item__link(href="")
                                img(src="images/recent_post1.jpg" alt="")
                            .recent-item__content
                                h5.content-title.f-r 
                                    a(href="") Flank andouille fatback short
                                span.content-time.f-r JULY 09, 2016
                        li.recent-item.d-flex.pd-10
                            a.recent-item__link(href="")
                                img(src="images/recent_post2.jpg" alt="")
                            .recent-item__content
                                h5.content-title.f-r 
                                    a(href="") Brisket cow tail short ribs
                                span.content-time.f-r JULY 12, 2016
                        li.recent-item.d-flex.pd-10
                            a.recent-item__link(href="")
                                img(src="images/recent_post3.jpg" alt="")
                            .recent-item__content
                                h5.content-title.f-r 
                                    a(href="") Bresaola ham shankle
                                span.content-time.f-r JULY 26, 2016
                .single-nav.mt-55
                    h3.single-nav__title 
                        strong Archive
                    form.single-categories(action="")
                        .form-group
                            select.choice(name="category")
                                option(value="") Select Month
                                option(value="") January
                                option(value="") February
                                option(value="") March
                                option(value="") April
                                option(value="") May
                                option(value="") June
                                option(value="") July
                                option(value="") August
                                option(value="") September
                                option(value="") October
                                option(value="") November
                                option(value="") December









