// Team
.team
    .container
        .row
            .col-lg-6.col-md-6.col-12
                .team__img
                    img(src="images/team01.jpg" alt="")
                .team__caption.text-center
                    h3.team__caption-name.f-r Michael Bean
                    p.team__caption-work.f-o Director
                    .team__caption-social.text-center
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-6.col-md-6.col-12
                .team__img
                    img(src="images/02 (1).jpg" alt="")
                .team__caption.text-center
                    h3.team__caption-name.f-r Whitney Johnson
                    p.team__caption-work.f-o Developer
                    .team__caption-social.text-center
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-6.col-md-6.col-12
                .team__img
                    img(src="images/03 (1).jpg" alt="")
                .team__caption.text-center
                    h3.team__caption-name.f-r Michael Bean
                    p.team__caption-work.f-o Director
                    .team__caption-social.text-center
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-6.col-md-6.col-12
                .team__img
                    img(src="images/04 (1).jpg" alt="")
                .team__caption.text-center
                    h3.team__caption-name.f-r Mohamed Rahum
                    p.team__caption-work.f-o SEO
                    .team__caption-social.text-center
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-6.col-md-6.col-12
                .team__img
                    img(src="images/05 (1).jpg" alt="")
                .team__caption.text-center
                    h3.team__caption-name.f-r Whitney Johnson
                    p.team__caption-work.f-o Developer
                    .team__caption-social.text-center
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-6.col-md-6.col-12
                .team__img
                    img(src="images/team01.jpg" alt="")
                .team__caption.text-center
                    h3.team__caption-name.f-r Michael Bean
                    p.team__caption-work.f-o Director
                    .team__caption-social.text-center
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
