// About
include ../../mixins/button.pug
.about.about-collapse
    .container
        .row
            .col-lg-6.col-12.text-center
                img.about__img(src="images/dog.png" alt="")
            .col-lg-6.col-12.ml-12
                h3.about__title.f-r Về 
                    strong chúng tôi
                p.about__text.f-r Pet’s Best Friend
                hr.about__line 
                p.about__content.collapse.f-o#collapseAbout(aria-expanded="false") Eiusmod qui pig veniam nostrud. Chicken mollit flank ground round est short loin ad do bacon velit bresaola excepteur eu. Doner turducken aute, ut lorem alcatra pork belly capicola short ribs meatball. Excepteur quis nostrud, et dolor laborum pig bresaola corned beef officia.
                a(role="button" class="collapsed" data-toggle="collapse" href="#collapseAbout" aria-expanded="false" aria-controls="collapseAbout").button 