/* =========== Header ==========*/
.header {
  z-index: 1000;
  background-color: #80ceca;
  padding: 0 15px;
  height: 50px;
  &.record {
    position: fixed;
    top: 0;
    width: 100%;
  }
  &__info {
    &-menu {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      &.active {
        opacity: 1;
        visibility: visible;
        right: 20px;
      }
      @include breakpoint(991) {
        position: fixed;
        overflow: auto;
        background-color: #3c3c3c;
        padding: 10px 20px 10px 10px;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 100%;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: 400;
        word-wrap: break-word;
        text-align: left;
        -webkit-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s;
        opacity: 0;
        visibility: hidden;
        z-index: 99;
        flex-direction: column;
      }
      .menu-item {
        width: 100%;
        @include min-breakpoint(769) {
          display: inline-flex;
        }
        .down {
          @include breakpoint(768) {
            &:after {
              font-family: "Font Awesome\ 5 Pro";
              content: "\f107";
              position: absolute;
              right: 1.44em;
              height: 0;
              width: 0;
              font-size: 20px;
              color: #fff;
            }
          }
        }
        &.showBox .menu-item__link {
          color: #fff;
          background-color: #40a6a0;
        }
        &__link {
          font-weight: 600;
          font-size: 13px;
          line-height: 32px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.7);
          padding: 9px 20px;
          white-space: nowrap;
          @include breakpoint(768) {
            padding: 10px 15px;
            display: block;
          }
          &:hover {
            color: #40a6a0;
          }
          @include min-breakpoint(769) {
            &:hover {
              color: #fff;
              background-color: #40a6a0;
            }
          }
          @include breakpoint(768) {
            color: #fff;
          }
        }
      }
      .list {
        position: relative;

        @include min-breakpoint(769) {
          &:hover .menu-item__list {
            margin-top: 1px;
            opacity: 1;
            visibility: visible;
          }
        }
        .menu-item__list {
          @include breakpoint(768) {
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            padding-left: 10px;
            &.show {
              max-height: 100vh;
              opacity: 1;
              visibility: visible;
            }
          }

          @include min-breakpoint(769) {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 99;
            margin-top: 5px;
            text-align: left;
            list-style: none;
            padding: 5px 0;
            background-color: #ffffff;
            min-width: 12em;
            border-bottom: 2px solid #80ceca;
            overflow: hidden;
            visibility: hidden;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
          }
          .menu-list {
            @include min-breakpoint(769) {
              padding: 0 20px;
            }

            &__link {
              display: block;
              padding: 10px;
              font-weight: 300;
              font-size: 16px;
              text-transform: none;
              color: #fff;
              &:hover {
                color: #40a6a0;
              }
              &::before {
                content: "-";
                padding-right: 5px;
              }
              @include min-breakpoint(769) {
                color: #787878;
                padding: 8px 0;
                text-decoration: none;
                zoom: 1;
                -webkit-transition-property: color, background-color,
                  border-color;
                transition-property: color, background-color, border-color;
                font-weight: 600;
                font-size: 11px;
                line-height: 32px;
                text-transform: uppercase;
                display: block;
              }
            }
            .line {
              @include min-breakpoint(769) {
                border-top: 1px solid rgba(60, 60, 60, 0.08);
              }
            }
          }
        }
      }
    }
    &-icon {
      .icon__link {
        color: #ffffff;
        opacity: 0.7;
        &:hover {
          color: #fff;
          opacity: 1;
        }
      }
      .ml-15 {
        margin-left: 15px;
      }
    }
    &-button {
      display: none;
      color: #fff;
      font-size: 24px;
      @include breakpoint(991) {
        display: block;
      }
    }
    &-close {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -30px;
      cursor: pointer;
      z-index: 1001;
      visibility: visible;
      color: #ffffff;
      background-color: #3c3c3c;
      & i {
        font-size: 50px;
      }
    }
    @include breakpoint(991) {
      .show {
        opacity: 1;
        visibility: visible;
        left: auto;
        top: 0;
        right: 0;
      }
    }
  }
}
.menu-backdrop {
  @include breakpoint(991) {
    position: relative;
    position: fixed;
    visibility: hidden;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &.backdrop {
      visibility: visible;
      opacity: 1;
      background-color: #111;
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
}
