// Banner
.banner
    .banner__content.owl-carousel.owl-theme
        .banner__content-box.background-1
            .container
                .row
                    .col-lg-7
                        .box-title.f-o
                            p Providing Special Care
                                br
                                strong For Your Pets
                            .p-mobile Providing Special Care
                                br
                                | For Your Pets
                        .box-text.f-o
                            p Your pet is in good hands with us! Let your favorite get
                                br 
                                | the best care in our center.
        .banner__content-box.background-2
            .container
                .row
                    .col-lg-7
                        .box-title.f-o
                            p The Kind Of Care
                                br
                                strong Your Pets Deserve
                            .p-mobile The Kind Of Care
                                br
                                | Your Pets Deserve
                        .box-text.f-o
                            p Helping Your Friends Be Your Friends For Longer. Because
                                br 
                                | They Can’t Tell You What’s Wrong.
        .banner__content-box.background-3
            .container
                .row
                    .col-lg-7
                        .box-title.f-o
                            p Keeping Your Pet On
                                br
                                strong The Path To Wellness
                            .p-mobile Keeping Your Pet On
                                br
                                | The Path To Wellness
                        .box-text.f-o
                            p Compassionate and High Quality Care. Love Is The
                                br 
                                | Best Medicine.
