// Feedback
.feedback
    .container
        .row
            .col-10.text-center.m-auto.up
                h2.feedback__title.f-r What 
                    strong Clients Say
                p.feedback__text.f-r BECAUSE THEY CAN’T TELL YOU WHAT’S WRONG
                .feedback-carousel.owl-carousel.owl-theme
                    .feedback__box
                        img(src="images/01 (1).jpg" alt="")
                        p.feedback__box-content.f-o Strip steak swine nisi sunt porchetta. Cillum shoulder commodo frankfurter exercitation cupidatat est et sunt velit chicken aute pork. Tail excepteur brisket duis qui.
                        .feedback__box-meta.f-r
                            h5.meta__name Steve 
                                strong Malone
                            p.meta__manager Manager
                    .feedback__box
                        img(src="images/02 (1).jpg" alt="")
                        p.feedback__box-content.f-o Duis congue purus non malesuada porttitor. Integer vitae orci ac orci tincidunt efficitur. Sed tristique magna a nulla porttitor congue.
                        .feedback__box-meta.f-r
                            h5.meta__name Minerva 
                                strong Ferguson
                            p.meta__manager Manager
                    .feedback__box
                        img(src="images/03 (1).jpg" alt="")
                        p.feedback__box-content.f-o Proin sollicitudin tempor arcu, id vestibulum mi suscipit et. Praesent ac erat tristique, iaculis neque et, porta libero. Duis sodales.
                        .feedback__box-meta.f-r
                            h5.meta__name Derrick
                                strong Rodgers
                            p.meta__manager Manager
