// portfolio
.portfolio
    .container-fluid
        .row.filter
            .col-12.mt-20.mb-20
                .portfolio__title.text-center.mb-20.iso-nav
                    a.f-r.active(href="#" data-filter="*") All
                    a.f-r(href="#z" data-filter=".nutritional") NUTRITIONAL
                    a.f-r(href="#z" data-filter=".wellnesscare") WELLNESS CARE
                    a.f-r(href="#z" data-filter=".anesthetic") ANESTHETIC
                    a.f-r(href="#z" data-filter=".vaccination") VACCINATION
                    a.f-r(href="#z" data-filter=".consultation") CONSULTATION
        .grid
            .grid-sizer
            .grid-item.nutritional
                .box-media
                    img(src="images/01.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") nutritional
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.
            .grid-item.wellnesscare
                .box-media
                    img(src="images/02.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") wellness care
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.
            .grid-item.anesthetic
                .box-media
                    img(src="images/03.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") anesthetic
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.
            .grid-item.vaccination
                .box-media
                    img(src="images/04.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") Vaccination
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.
            .grid-item.consultation
                .box-media
                    img(src="images/05.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") consultation
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.
            .grid-item.nutritional
                .box-media
                    img(src="images/06.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") nutritional
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.
            .grid-item.wellnesscare
                .box-media
                    img(src="images/07.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") wellness care
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.
            .grid-item.anesthetic
                .box-media
                    img(src="images/08.jpg" alt="")
                .box-content.text-center
                    h5.box-title.f-r
                        a(href="") anesthetic
                    hr.box-line
                    p.box-text.f-o Consequat qui minim quis, laborum ea cupim exercitation duis veniam sint. In exercitation ham hock shankle.


