// Price
include ../../mixins/button.pug
include ../../mixins/title.pug
.price
    .container
        .row
            +title("Pricing  " , "Tables", "BEST PRICE YOU HAVE EVER SEEN")
            .col-lg-4.col-sm-8.mt-10.mb-10
                ul.price__box.text-center
                    li.price__box-title.teaser01
                        .overlay
                        h3.title-text.f-r Preventive  
                            strong Inspection
                    li.price__box-tag
                        span.f-o.tag-first $
                        span.f-o.tag-last 0.00
                        p.tag-text.f-r FREE SERVICE
                    li.price__box-item
                        ul.item-list.f-o
                            li Ex minim
                            li.line Adipisicing
                            li.line Non officia
                            li.line Turducken
                    li.price__box-button
                        +button1("Order Now" , "#")
            .col-lg-4.col-sm-8.mt-10.mb-10
                ul.price__box.text-center
                    li.price__box-title.teaser02
                        .overlay
                        h3.title-text.f-r Nutritional  
                            strong Counseling
                    li.price__box-tag.hightlight
                        span.f-o.tag-first $
                        span.f-o.tag-last 99.99

                        p.tag-text.f-r ONE-FEE PAYMENT
                    li.price__box-item
                        ul.item-list.f-o
                            li Pancetta aliquip
                            li.line Pork belly
                            li.line Ut excepteur
                            li.line Tri-tip
                    li.price__box-button
                        +button1("Order Now" , "#")
            .col-lg-4.col-sm-8.mt-10.mb-10
                ul.price__box.text-center
                    li.price__box-title.teaser03
                        .overlay
                        h3.title-text.f-r Vaccination 
                            strong Care
                    li.price__box-tag.hightlight
                        span.f-o.tag-first $
                        span.f-o.tag-last 199.99
                        p.tag-text.f-r ONE-FEE PAYMENT
                    li.price__box-item
                        ul.item-list.f-o
                            li Tenderloin
                            li.line Occaecat aute
                            li.line Et nulla
                            li.line Ullamco sed
                    li.price__box-button
                        +button1("Order Now" , "#")


