// Service
include ../../mixins/title.pug
include ../../mixins/service-title.pug
.service
    .container
        .row
            +title("Our " , "Services & Procedures", "COMPASSIONATE AND HIGH QUALITY CARE")
            .col-lg-4.col-12.col-md-6
                +service-title("images/unicorn.png", 'Wellness ', 'Care', 'Our wellness programs include: comprehensive physical exam; internal and external parasite testing.')
            .col-lg-4.col-12.col-md-6
                +service-title("images/kitty.png", 'Anesthetic ', 'Monitoring ', 'Our wellness programs include: comprehensive physical exam; internal and external parasite testing.')
            .col-lg-4.col-12.col-md-6
                +service-title("images/unicorn.png", 'Nutritional ', 'Counseling', 'Our wellness programs include: comprehensive physical exam; internal and external parasite testing.')
            .col-lg-4.col-12.col-md-6
                +service-title("images/kitty.png", 'Pain ', ' Management', 'Our wellness programs include: comprehensive physical exam; internal and external parasite testing.')
            .col-lg-4.col-12.col-md-6
                +service-title("images/unicorn.png", 'Vaccination ', 'Care', 'Our wellness programs include: comprehensive physical exam; internal and external parasite testing.')
            .col-lg-4.col-12.col-md-6
                +service-title("images/kitty.png", 'Dental ', 'Care', 'Our wellness programs include: comprehensive physical exam; internal and external parasite testing.')
