// teaser
.teaser
    .container
        .row
            .col-lg-3.col-sm-6.col-12
                .teaser__info.text-center
                    .teaser__info-icon
                        img(src="images/injection.png" alt="")
                    span.teaser__info-number.counters(data-target="12964") 0
                    h4.teaser__info-text.f-r Vaccinations we done
            .col-lg-3.col-sm-6.col-12
                .teaser__info.text-center.line
                    .teaser__info-icon
                        img(src="images/heart.png" alt="")
                    span.teaser__info-number.counters(data-target="3472") 0
                    h4.teaser__info-text.f-r Happy Clients
            .col-lg-3.col-sm-6.col-12
                .teaser__info.text-center.line.line-none
                    .teaser__info-icon
                        img(src="images/home.png" alt="")
                    span.teaser__info-number.counters(data-target="15") 0
                    h4.teaser__info-text.f-r Department
            .col-lg-3.col-sm-6.col-12
                .teaser__info.text-center.line
                    .teaser__info-icon
                        img(src="images/trophy.png" alt="")
                    span.teaser__info-number.counters(data-target="35") 0
                    h4.teaser__info-text.f-r Awards we have
