// Contact
.contact
    .container
        .row
            .col-lg-8.contact-animate
                h3.contact__title.f-r Contact 
                    strong Form
                form.row.contact__form(action="")
                    .col-lg-6.col-md-6.pf-5.mf-5
                        .contact__form-name
                            label.f-o(for="name") Full Name
                                span.f-o *
                            input.form-control(type="text" required="true" placeholder="Full Name")
                    .col-lg-6.col-md-6.pf-5.mf-5
                        .contact__form-phone
                            label.f-o(for="phone") Phone Number
                                span.f-o *
                            input.form-control(type="text" required="true" placeholder="Phone Number")
                    .col-lg-6.col-md-6.pf-5.mf-5
                        .contact__form-phone
                            label.f-o(for="address") Address
                                span.f-o *
                            input.form-control(type="text" required="true" placeholder="Address")
                    .col-lg-6.col-md-6.pf-5.mf-5
                        .contact__form-phone
                            label.f-o(for="mail") Email
                                span.f-o *
                            input.form-control(type="email" required="true" placeholder="Email")
                    .col-12.pf-5.mf-5
                        .contact__form-message
                            label.f-o(for="message") Message
                                span.f-o *
                            textarea.form-control(name="message" cols="45" rows="6" placeholder="Message")
                    .col-12.pf-5.mf-5
                        .contact__form-button
                            button.f-r(type="submit" ) Send Message
            .col-lg-4.contact-animate
                h3.contact__title.f-r Contact 
                    strong Info
                .contact__media.d-flex.align-items-center
                    .media-icon
                        i(class="fas fa-map-marker-alt")
                    .media-text
                        span.f-r OUR LOCATION
                        p.f-o 2418 Nancy St, New York
                .contact__media.d-flex.align-items-center
                    .media-icon
                        i(class="fal fa-clock")
                    .media-text
                        span.f-r CALL US NOW
                        p.f-o 0 (800) 337 7737
                .contact__media.d-flex.align-items-center
                    .media-icon
                        i(class="fas fa-pencil-alt")
                    .media-text
                        span.f-r OUR EMAIL
                        p.f-o abc@gmail.com




