// Pages
.pages
    .container
        .row
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/01.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Consetetur elitr tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/02.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Diam nonumy eirmod tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/03.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Eirmod elitr diam nonumy tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/04.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Tempor elitr diam nonumy
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/05.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Nonumy onsetetur elitr diam eirmod tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/06.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Consetetur elitr diam eirmod tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/07.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Tempor consetetur elitr diam nonumy eirmod
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/08.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Eirmod tempor consetetur elitr diam nonumy
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/09.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Consetetur elitr diam nonumy eirmod tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/10.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Diam nonumy consetetur elitr eirmod tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/11.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Elitr diam nonumy consetetur eirmod tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15
            .col-lg-4.col-md-6.col-12.mb-30
                .pages__box.text-center
                    .pages__box-media
                        img.media-img(src="images/12.jpg" alt="")
                        .media-link
                            a(href="blog-detail.html").link
                    .pages__box-content.text-center
                        h3.content__title.f-r Consetetur elitr diam nonumy eirmod tempor
                        span.content__time.f-r JAN 10, 2016
                        p.content__text.f-o Duis autem eumre dolor hendrerit vulputate veliesse molestie consequat vel illum dolore at vero eros et accumsan et iusto odio dignissim.
                    .pages__box-social
                        a(href="").fab.fa-facebook-f
                        a(href="").fab.fa-twitter.ml-15
                        a(href="").fab.fa-youtube.ml-15



