mixin title(title, strong, text)
    .col-12.text-center
        .title__content
            h2.title__content-title.f-r= title
                strong= strong
            p.title__content-text.f-r= text
            hr.title__content-line