// footer
.footer
    .container
        .row
            .col-lg-3.col-sm-6.footer-animate
                .footer__info
                    .topbar__info-logo
                        a.logo__link(href="#").d-flex.align-items-center
                            svg(width='60' height='60' viewbox='0 0 60 60')
                                path.logo-svg(d='M394.666,58.931a0.79,0.79,0,1,0,.058,1.374A1.054,1.054,0,0,0,394.666,58.931Zm13.749-12.461a1.074,1.074,0,0,1,.242,1.371A1.44,1.44,0,1,1,408.415,46.469ZM417.825,83h-25.65a0.645,0.645,0,0,1-.645-0.646V79.747a0.665,0.665,0,0,1,.029-0.193,42.86,42.86,0,0,0,1.452-5.374,6.746,6.746,0,0,1,.467-1.66,32.952,32.952,0,0,1,1.593-3.288l0.184-.346a1.783,1.783,0,0,1,2.011-.952,1.468,1.468,0,0,0,.776-0.048,1.525,1.525,0,0,0,.917-0.782l0.069-.119a2.373,2.373,0,0,1,1.852-1.094,2.913,2.913,0,0,0,1.541-1.561,4.742,4.742,0,0,0,.674-2.512,3.232,3.232,0,0,1-.136-2.157,1.415,1.415,0,0,0-.212-0.725,0.638,0.638,0,0,0-.525-0.2,25.557,25.557,0,0,1-4.611-.24l-0.165-.025a2.48,2.48,0,0,1-1.8-1.09,1.184,1.184,0,0,0-.545-0.563,5.288,5.288,0,0,1-1.516-.52l-0.354-.161c-0.6-.347-1.47-0.625-3.761-0.3a10.241,10.241,0,0,0-4.5,1.723,4.645,4.645,0,0,0-1.456,2.254,5.535,5.535,0,0,1-2.036,2.548,7.03,7.03,0,0,0-2.1,3.67,0.645,0.645,0,0,1-.613.444h-3.116A0.645,0.645,0,0,1,375,65.825V40.175a0.645,0.645,0,0,1,.646-0.646H391.53V23.646A0.645,0.645,0,0,1,392.175,23h25.65a0.645,0.645,0,0,1,.645.646v8.21a0.647,0.647,0,0,1-.511.632,19.565,19.565,0,0,0-4.417,1.6,10.587,10.587,0,0,1-5.477.868,18.973,18.973,0,0,0-5.437.217,1.342,1.342,0,0,0,.269.362,8.4,8.4,0,0,0,1.066.752c1.21,0.773,2.869,1.831,2.366,3.712a14.186,14.186,0,0,1-.519,1.505,10.016,10.016,0,0,0-.569,1.79,6.375,6.375,0,0,0,0,1.657l0.04,0.524a5.635,5.635,0,0,0,1.017,2.335,4.855,4.855,0,0,1,.951,3.176,3.955,3.955,0,0,0,.373,1.559,0.534,0.534,0,0,0,.486.2,2.459,2.459,0,0,1,1.481.344,0.731,0.731,0,0,0,.507-0.042c0.133-.033.267-0.065,0.4-0.086a1.332,1.332,0,0,1,.837.135,1.71,1.71,0,0,0,1.045-.1,1.933,1.933,0,0,0,1.015-.947c0.085-.127.174-0.258,0.272-0.392a2.8,2.8,0,0,1,.871-0.774,5.7,5.7,0,0,0,.93-0.728,6.323,6.323,0,0,1,1.386-1.024h0a40.13,40.13,0,0,1,17.51-4.473A0.646,0.646,0,0,1,435,45.3V65.825a0.645,0.645,0,0,1-.646.646H418.47V82.354A0.645,0.645,0,0,1,417.825,83Zm15.883-37.047V65.178H417.824a0.647,0.647,0,0,0-.646.646V81.708H392.822V79.846a46.151,46.151,0,0,0,1.472-5.522,5.748,5.748,0,0,1,.386-1.334,32.422,32.422,0,0,1,1.527-3.148l0.192-.358a0.525,0.525,0,0,1,.686-0.271l0.128,0.015a2.563,2.563,0,0,0,1.267-.127,2.888,2.888,0,0,0,1.654-1.447,1.231,1.231,0,0,1,1.025-.5,4.362,4.362,0,0,0,2.512-2.426c0.538-1.092.959-2.631,0.614-3.412a2.087,2.087,0,0,1-.076-1.356,2.531,2.531,0,0,0-.472-1.851,1.946,1.946,0,0,0-1.5-.661,26.094,26.094,0,0,1-4.43-.223l-0.2-.031a1.278,1.278,0,0,1-.841-0.439,2.325,2.325,0,0,0-1.484-1.211,4.144,4.144,0,0,1-1.162-.415l-0.31-.136c-0.733-.426-1.841-0.812-4.528-0.435a11.472,11.472,0,0,0-5.053,1.936,5.762,5.762,0,0,0-1.923,2.832,4.311,4.311,0,0,1-1.625,2.009,7.653,7.653,0,0,0-2.394,3.847h-2V40.822h15.884a0.647,0.647,0,0,0,.646-0.646V24.292h24.356v7.05a20.761,20.761,0,0,0-4.227,1.594,9.29,9.29,0,0,1-4.742.731,20.115,20.115,0,0,0-5.92.254,1.189,1.189,0,0,0-.886.873,1.761,1.761,0,0,0,.627,1.694,9.531,9.531,0,0,0,1.238.882c1.29,0.823,2.056,1.387,1.814,2.291a13.307,13.307,0,0,1-.476,1.371,11.09,11.09,0,0,0-.636,2.028,7.525,7.525,0,0,0-.021,1.991l0.039,0.5a6.557,6.557,0,0,0,1.218,2.952,3.635,3.635,0,0,1,.758,2.314,4.736,4.736,0,0,0,.631,2.517,1.826,1.826,0,0,0,1.507.7,1.238,1.238,0,0,1,.807.153,1.809,1.809,0,0,0,1.492.111,1.286,1.286,0,0,1,.373-0.039,1.911,1.911,0,0,0,.284.115,3.213,3.213,0,0,0,3.4-1.6c0.077-.114.159-0.234,0.247-0.356a1.564,1.564,0,0,1,.463-0.41,6.61,6.61,0,0,0,1.153-.889,5.276,5.276,0,0,1,1.1-.83A39.572,39.572,0,0,1,433.708,45.953Z' transform='translate(-375 -23)')
                            span.logo__text.f-r 
                                span.logo-big Fluffy 
                                    strong Paw
                                span.logo-small veterinary clinic
                    p.footer__info-text.f-o Ex magna shoulder meatloaf boudin swine ullamco veniam turducken tur fatback sirloin pork loin sed.
                    .footer__info-icon
                        a(href="#").icon__link.fab.fa-facebook-f
                        a(href="#").icon__link.fab.fa-twitter
                        a(href="#").icon__link.fab.fa-instagram
                        a(href="#").icon__link.fab.fa-youtube
            .col-lg-3.col-sm-6.footer-animate
                .footer__contact 
                    h4.footer__contact-title.f-r Contact 
                        strong Info
                    .footer__contact-media.d-flex
                        .media__icon
                            i(class="fas fa-map-marker-alt")
                        .media__text.f-o
                            span.text.f-r 28 Lincoln Blvd, Santa Monica
                    .footer__contact-media.d-flex
                        .media__icon
                            i(class="far fa-clock")
                        .media__text.f-o
                            span.text.f-r 09:00 - 22:00
                    .footer__contact-media.d-flex
                        .media__icon
                            i(class="fas fa-phone-alt")
                        .media__text.f-o
                            span.text.f-r 0 (800) 375 45 65
            .col-lg-3.col-sm-6.footer-animate
                .footer__contact
                    h4.footer__contact-title.f-r Latest 
                        strong News
                    ul.footer__contact-list
                        li
                            h5.list-title.f-r 
                                a(href="blog-detail.html") Ribeye aliquip culpa
                            p.list-text.f-o Pancetta sirloin ut meatball dolore et salami in picanha nisi incididunt.
                            span.list-time.f-r JULY 28, 2016
            .col-lg-3.col-sm-6.footer-animate
                .footer__contact
                    h4.footer__contact-title.f-r Flickr
                        strong widget
                    ul
                        a.contact-gallery(href="images/27054858972_f4811c1670_b.jpg" data-fancybox="'gallery")
                            li 
                                img(src="images/27054858972_f4811c1670_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/27081355201_8ff1033a07_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/27081355201_8ff1033a07_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/27081358471_53ff2aec4d_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/27081358471_53ff2aec4d_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/26875854870_f9fc88bb8c_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/26875854870_f9fc88bb8c_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/25684557516_2c6c60748d_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/25684557516_2c6c60748d_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/27081358761_cbdd465e70_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/27081358761_cbdd465e70_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/25409865610_159f67abec_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/25409865610_159f67abec_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
                        a.contact-gallery(href="images/25615561261_6bed733373_b.jpg" data-fancybox="'gallery")
                            li
                                img(src="images/25615561261_6bed733373_b.jpg" alt="")
                                .overlay.text-center.d-flex.justify-content-center.align-items-center.h-78
                                    i(class="fal fa-search")
.footer__bottom
    .container
        .row
            .col-12.text-center
                p.footer__copyright.f-o © 2016 FluffyPaw. Created with 
                    i(class="fal fa-heart")
                    |  by 
                    a.footer__copyright-link(href="") MWTemplates



