// Header
.header
    .container.h-100
        .header__info.h-100.d-flex.justify-content-between.align-items-center
            .header__info-button
                i.fal.fa-bars
            ul.header__info-menu
                li.menu-item
                    a.menu-item__link.f-r(href="index.html") Home
                li.menu-item
                    a.menu-item__link.f-r(href="about.html") about
                li.menu-item.list
                    a.menu-item__link.f-r.down(href="#") service
                    ul.menu-item__list
                        li.menu-list
                            a.menu-list__link.f-r(href="service.html") service
                        li.menu-list
                            a.menu-list__link.f-r.line(href="service-detail.html") wellness care
                li.menu-item.list
                    a.menu-item__link.f-r.down(href="#") Blog
                    ul.menu-item__list
                        li.menu-list
                            a.menu-list__link.f-r(href="blog.html") Blog
                        li.menu-list
                            a.menu-list__link.f-r.line(href="blog-detail.html") Blog 1
                li.menu-item
                    a.menu-item__link.f-r(href="team.html") team
                li.menu-item
                    a.menu-item__link.f-r(href="contact.html") contact
            .header__info-close
                i.fal.fa-times
            .header__info-icon
                a(href="#").icon__link.fab.fa-facebook-f
                a(href="#").icon__link.fab.fa-twitter.ml-15
                a(href="#").icon__link.fab.fa-instagram.ml-15
                a(href="#").icon__link.fab.fa-google-plus-g.ml-15
.menu-backdrop
